.footer {
  color: white;
  border-radius: 30px 30px 0px 0px;
  margin-top: 100px;
  background-image: url("../../../public/footer/background/layered-waves-haikei.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
  transition: transform 10s ease;
  animation: translateXAnimationFooter linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes translateXAnimationFooter {
  from {
    scale: 0.5;
    transform: translateY(300px);
  }

  to {
    scale: 1;
    transform: translateY(0px);
  }
}

.footer_flex {
  padding: 30px 60px 0px 60px;
}

.footer_div {
  display: grid;
  grid-template-areas:
    "left left left right"
    "bleft bleft bleft right"
    "footer footer footer footer";
  gap: 30px;
}

.header_test {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;

  h5 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 3rem);
    color: rgb(119, 118, 118);
    margin: 20px 0px 20px 10px;
    text-align: left;
  }

  h1 {
    font-family: "Cinzel", serif;
    font-weight: 350;
    font-size: clamp(2rem, 3vw, 3rem);
    color: #004aad;
    margin: 0px 0px 20px 0px;
    text-align: left;
  }

  .contact {
    margin-top: 10px;
    display: flex;
    gap: 10px;

    .contact_img {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    a {
      font-family: "Josefin Sans", sans-serif;
      font-weight: 350;
      font-size: clamp(1rem, 1.5vw, 3rem);
      color: rgb(119, 118, 118);
      text-align: left;
      margin: 0px 0px 10px 0px;
      letter-spacing: 2px;
      text-decoration: none;
      cursor: pointer;
    }

    a:hover {
      color: #004aad;
    }

    img {
      filter: brightness(0.7) grayscale(100%);
      height: 24px;
    }
  }

  a {
    text-decoration: none;
    cursor: pointer;

    .contact_whatsapp {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      background-color: #fff;
      padding: 10px;
      gap: 6px;
      box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
        rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
        transition: all 0.5s linear;

      .wa_img {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      p {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 700;
        font-size: clamp(0.8rem, 1vw, 3rem);
        color: rgb(119, 118, 118);
        text-align: left;
        margin: 3px 0px 0px 0px;
        letter-spacing: 2px;
      }

      img {
        height: 35px;
      }
    }

    .contact_whatsapp:hover {
      background-color: #004aad;

      p {
        color: #fff;
      }
    }
  }
}


.footer_aboutus_container {
  grid-area: bleft;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  gap: 50px;
  flex-wrap: wrap;

  .footer_aboutus {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: left;
    align-items: left;

    img {
      border-radius: 5px;
      height: 60px;
    }

    p {
      //text-align: left;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 300;
      font-size: 18px;
      margin-bottom: 20px;
    }
  }

  .socia_icons {
    img {
      height: 25px;
      color: #fff;
      padding-right: 18px;
      cursor: pointer;
    }

    img:hover {
      transition: all 0.2s linear;
      scale: 1.1;
    }
  }

  .address {
    width: 300px;

    .map-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      // flex-wrap: wrap;
      gap: 10px;

      .map-image {
        width: 130px; // Set width and height to the same value to make it round
        height: 130px;
        border-radius: 50%; // Makes the image round
        object-fit: cover;
        cursor: pointer; // Ensures the image covers the container while maintaining aspect ratio
      }

      .map-image:hover {
        transition: all 0.2s linear;
        scale: 1.1;
      }
    }

    .address_flex {
      display: flex;
      gap: 10px;
      justify-content: center;

      img {
        height: 25px;
        cursor: pointer;
      }

      img:hover {
        transition: all 0.2s linear;
        scale: 1.1;
      }
    }

    h4 {
      margin-bottom: 20px;
      font-family: "Josefin Sans", sans-serif;
    }

    p {
      line-height: 23px;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 200;
      margin-bottom: 0px;
      text-align: center;
    }
  }

  .working_hours {
    border: solid 1px white;
    padding: 20px;
    border-radius: 10px;

    h4 {
      font-family: "Josefin Sans", sans-serif;
      text-align: center;
    }

    div {
      p {
        font-family: "Josefin Sans", sans-serif;
        font-weight: 300;
        text-align: center;
      }
    }
  }
}

.footer_container_right {
  grid-area: right;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0px 10px;
  align-items: center;

  .message_header {
    padding: 20px 0px 0px 20px;

    p {
      color: #fff;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400;
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  .message_box_conrtainer {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    width: 400px;
    // height: 450px;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 20px;
  }

  div {
    p {
      color: rgb(10, 145, 10);
      text-align: center;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 400;
      font-size: clamp(0.8rem, 1vw, 3rem);
      margin: 0px;
    }
  }
}

.footer_social {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  padding-top: 30px;

  p {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 200;
    font-size: clamp(0.7rem, 1vw, 3rem);
  }
}

.textfield_div {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


@media only screen and (max-width: 1500px) {

  .footer_flex {
    padding: 0px;
  }

  .footer_div {
    display: grid;
    grid-template-areas:
      "left left left left"
      "right right right right"
      "bleft bleft bleft bleft"
      "footer footer footer footer";
    gap: 50px;
  }

  .footer {
    color: white;
    border-radius: 0px;
    margin-top: 100px;
    background-image: none;
    background-color: #004aad;
  }

  .header_test {
    justify-content: center;
    align-items: center;
    gap: 20px;


    h5 {
      margin: 40px 0px 0px 0px;
      color: rgb(255, 255, 255);
    }

    h1 {
      margin: 0px;
      color: #fff;
    }

    .contact {
      margin: 0;



      img {
        filter: brightness(0) invert(1);
        /* This makes the image white */
        transition: filter 0.3s ease;
        height: 15px;
      }


      a {
        font-weight: 300;
        color: #fff
      }

      a:hover {
        color: #5de1e9;
      }
    }
  }

  .footer_aboutus {
    justify-content: center;
    align-items: center;

    p {
      text-align: center;
    }
  }

  .footer_container_right .message_box_conrtainer {
    width: 100%;
  }

  .footer_container_right .message_header {
    padding: 0px;
  }
}

/* Larger tablets (769px to 1024px) */
@media (min-width: 650px) and (max-width: 1500px) {
  .footer_container_right .message_box_conrtainer {
    width: 60%;
  }
}
